<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logDirectory" value="${basedir}/logs" />
	<variable name="footer" value="===========================END===========================${newline}" />
	<variable name="encoding" value="UTF-8" />
	<variable name="layout"
	          value="${time}>> ${level:uppercase=true}>> ${callsite:includeNamespace=false}>> ${message} ${exception:format=toString}" />

	<targets async="true">

		<target xsi:type="ColoredConsole"
		        name="logconsole"
		        layout="${longdate}|${level:uppercase=true}|${message}|${exception}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkBlue" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<target xsi:type="File"
		        name="AutoTestFile"
		        fileName="${logDirectory}/${shortdate} DBautoTest.log"
		        layout="${time}| ${level:uppercase=true}>> ${callsite}>> ${message} ${exception:format=toString}"
		        encoding="${encoding}"
		        archiveFileName="${logDirectory}/autoTest_{#}.log"
		        archiveNumbering="Date"
		        archiveEvery="Day"
		        maxArchiveFiles="5"
		        footer="${footer}"/>
	</targets>

	<rules>
		<logger name="DataBaseGenerator.Test.*"
		        minlevel="Trace"
		        maxlevel="Fatal"
		        writeTo="logconsole, AutoTestFile" />
	</rules>
</nlog>
